@page "/"

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@apiResponse</p>

@code {
    private string? apiResponse;

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task FetchData()
    {
        try
        {
            apiResponse = await Http.GetStringAsync("PublicArea/Public");
        }
        catch (Exception exception)
        {
            apiResponse = $"Error: {exception.Message}";
        }
    }
}